biochemical_analysis/dynamic_light_scattering/DLS_data/GOLLDa-Export_2024-03-09_18-20-01/
biochemical_analysis/dynamic_light_scattering/DLS_data/ROOL120_Export_2024-03-09_18-05-01/
*checkpoint.ipynb
*.svg
*.ipynb_checkpoints/
